* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-color: rgb(33, 37, 41);
}

.centrarCaja {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
}

.main {
    height: max-content;
    background-color:gainsboro
}

.main h2 {
    text-align: center;
}

.main form {
    display: flex;
    align-content: center;
    justify-content: center;
}

.main form fieldset {
    padding: 2rem;
}

.mainGallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color:gainsboro
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(33, 37, 41);
    color: aliceblue;
}

.colortextocamara {
    color: white;
    text-shadow: 0px 0px 5px white, 0px 0px 5px white, 0px 0px 25px rgb(0, 0, 0);
    position: relative;
    top: -8rem;
}

@media (max-width: 576px) {

    .footer {
        flex-direction: column-reverse;
        text-align: center;
    }
    .footer p {
        font-size: 0.8rem;
        margin-top: 0.5rem;
    }
}